/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #FF8FB1;
  --error: #e7195a;
}
body {
  background: #7A4495;
  margin: 0;
  font-family: "Poppins";
  
}
header {
  background: #;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #FF8FB1;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: ;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: rgba(245, 152, 237, 0.25) 0px 54px 55px, rgba(255, 59, 216, 0.12) 0px -12px 30px, rgba(249, 172, 227, 0.12) 0px 4px 6px, rgba(244, 50, 199, 0.17) 0px 12px 13px, rgba(255, 154, 223, 0.09) 0px -3px 5px;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  font-weight: 700;
  margin: 0;
  font-size: 0.95em;
  color: #FCE2DB;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
label{
  color: #FF8FB1;
  font-weight: 1000;
}
h3{
  color:#FF8FB1 ;
}
input {
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #FF8FB1;
  border: 0;
  color: #F7F7FF;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
.workout-details span{
  background-color: #7A4495;
  color: #FF8FB1;
  border-radius: 5px;
  outline-style: solid;
  outline-color: #FF8FB1;
}

.outline{
  margin-top: 20px;
  height:60% ;
  outline-style: solid;
  outline-color: #FF8FB1;
  padding: 10%;
  padding-bottom: 0;
  border-radius: 20px;
 
  box-shadow: rgba(245, 152, 237, 0.25) 0px 54px 55px, rgba(255, 59, 216, 0.12) 0px -12px 30px, rgba(249, 172, 227, 0.12) 0px 4px 6px, rgba(244, 50, 199, 0.17) 0px 12px 13px, rgba(255, 154, 223, 0.09) 0px -3px 5px;
}
.workout-details .datecreated{
  color: #B270A2;
  margin-top: 5px;
  


}